body,
html {
  margin: 0;
  padding: 0;
}
.row-row-1 {
  height: 100px;
  width: 100%;
  background-color: #d8d8d8;
  padding: 25px;
  box-sizing: border-box;
}
.row-1-div {
  width: 50px;
  height: 50px;
  background-color: #4a90e2;
}
.row-big-row-2 {
  height: 200px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px;
}
.row-2-span {
  width: 50px;
  height: 50px;
}
.row-row-3 {
  height: 100px;
  width: 100%;
  background-color: #4a90e2;
}
.row-row-4 {
  background-color: #50e3c2;
  height: 100px;
  width: 100%;
}
.row-row-5 {
  background-color: #b8e986;
  height: 100px;
  width: 100%;
}
.row-row-6 {
  background-color: #f8e71c;
  height: 100px;
  width: 100%;
}
